/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
librelane/runs
magic/sg13cmos5l_io/
magic/sg13cmos5l_stdcell/
gds/openframe_project_wrapper.gds.gz
gds/sg13cmos5l_caravel_openframe_fill_pattern.gds.gz
gds/sg13cmos5l_caravel_openframe.gds.gz
validate/sg13cmos5l_caravel_openframe.lyrdb
